# Extracting Data from the PhonePe Pulse

## aggregated\transaction

In [ ]:
# 01 

import pandas as pd
import json
import os
#
agg_col={'State':[],'Year':[],'Quarter':[],'Transaction_type':[],'Transaction_count':[],'Transaction_amount':[]}

path=r"C:\Users\palla\Downloads\Datasets\pulse-master\pulse-master\data\aggregated\transaction\country\india\state"

agg_content=os.listdir(path)

for i in agg_content:
    state_i=os.path.join(path,i)
    for j in os.listdir(state_i):
        year_j=os.path.join(state_i,j)
        for k in os.listdir(year_j):
            quat_k=os.path.join(year_j,k)
            with open(quat_k) as f:
                data=json.load(f)
                for L in data['data']['transactionData']:
                   Name=L['name']
                   Count=L['paymentInstruments'][0]['count']
                   Amount=L['paymentInstruments'][0]['amount']
                   agg_col['State'].append(i)
                   agg_col['Year'].append(j)
                   agg_col['Quarter'].append(int(k.strip('.json')))
                   agg_col['Transaction_type'].append(Name)
                   agg_col['Transaction_count'].append(Count)
                   agg_col['Transaction_amount'].append(Amount)
                
                    
agg_dataframe=pd.DataFrame(agg_col)       
#

In [ ]:
agg_dataframe.to_csv('agg_trans_dataframe.csv',index=False)

In [ ]:
agg_dataframe.head()

## aggregated\user

In [ ]:
# 02 

agg_col={'State':[],'Year':[],'Quarter':[],'Device_Brands':[],'Counts':[],'Percentage':[]}

path=r"C:\Users\palla\Downloads\Datasets\pulse-master\pulse-master\data\aggregated\user\country\india\state"

agg_user=os.listdir(path)

for i in agg_user:
    state_i=os.path.join(path,i)
    for j in os.listdir(state_i):
        year_j=os.path.join(state_i,j)
        for k in os.listdir(year_j):
            quat_k=os.path.join(year_j,k)
            with open(quat_k) as f:
                data=json.load(f)
                try:
                    for L in data['data']['usersByDevice']:
                       Brand=L['brand']
                       Counts=L['count']
                       Percentage=L['percentage']
                       agg_col['State'].append(i)
                       agg_col['Year'].append(j)
                       agg_col['Quarter'].append(int(k.strip('.json')))
                       agg_col['Device_Brands'].append(Brand)
                       agg_col['Counts'].append(Counts)
                       agg_col['Percentage'].append(Percentage)
                except:
                    pass
                
                    
agg_user_dataframe=pd.DataFrame(agg_col)

In [ ]:
agg_user_dataframe.to_csv('agg_user_dataframe.csv',index=False)

In [ ]:
agg_user_dataframe.head()

## map\transaction

In [ ]:
# 03 

map_trans={'State':[],'Year':[],'Quarter':[],'District':[],'Counts':[],'Amount':[]}

path=r"C:\Users\palla\Downloads\Datasets\pulse-master\pulse-master\data\map\transaction\hover\country\india\state"

agg_user=os.listdir(path)

for i in agg_user:
    state_i=os.path.join(path,i)
    for j in os.listdir(state_i):
        year_j=os.path.join(state_i,j)
        for k in os.listdir(year_j):
            quat_k=os.path.join(year_j,k)
            with open(quat_k) as f:
                data=json.load(f)
                try:
                    for L in data['data']['hoverDataList']:
                       Name=L['name']
                       Counts=L['metric'][0]['count'] # it is in list format in json file so calling key as 'metric' and caaling index as [0] as it is single list and caaling the key  to srore the value of it in list
                       Amount=L['metric'][0]['amount']
                       map_trans['State'].append(i)
                       map_trans['Year'].append(j)
                       map_trans['Quarter'].append(int(k.strip('.json')))
                       map_trans['District'].append(Name)
                       map_trans['Counts'].append(Counts)
                       map_trans['Amount'].append(Amount)
                except:
                    pass
                
                    
map_trans_dataframe=pd.DataFrame(map_trans)

In [ ]:
map_trans_dataframe.to_csv('map_trans_dataframe.csv',index=False)

In [ ]:
map_trans_dataframe.head()

## map\user

In [ ]:
# 04 

map_user={'State':[],'Year':[],'Quarter':[],'District':[],'RegisteredUsers':[]}

path=r"C:\Users\palla\Downloads\Datasets\pulse-master\pulse-master\data\map\user\hover\country\india\state"

agg_user=os.listdir(path)


for i in agg_user:
    state_i = os.path.join(path, i)
    for j in os.listdir(state_i):
        year_j = os.path.join(state_i, j)
        for k in os.listdir(year_j):
            quat_k = os.path.join(year_j, k)
            with open(quat_k) as f:
                data = json.load(f)
                try:
                    for L in data['data']['hoverData'].items(): # items() used to iterate key value in dict format df
                        Name = L[0] # it is in dict format so to get the key  stored used this line
                        Counts = L[1]['registeredUsers']# it is in dict format so to get the  value with particular category stored used this line
                        map_user['State'].append(i)
                        map_user['Year'].append(j)
                        map_user['Quarter'].append(int(k.strip('.json')))
                        map_user['District'].append(Name)
                        map_user['RegisteredUsers'].append(Counts)
                except:
                    pass
                    
map_user_dataframe = pd.DataFrame(map_user)

In [ ]:
map_user_dataframe.to_csv('map_user_dataframe.csv',index=False)

In [ ]:
map_user_dataframe.head()

## top\transaction

In [ ]:
# 05 

top_trans={'State':[],'Year':[],'Quarter':[],'Pincode':[],'Count':[],'Amount':[]}

path=r"C:\Users\palla\Downloads\Datasets\pulse-master\pulse-master\data\top\transaction\country\india\state"

agg_user=os.listdir(path)


for i in agg_user:
    state_i = os.path.join(path, i)
    for j in os.listdir(state_i):
        year_j = os.path.join(state_i, j)
        for k in os.listdir(year_j):
            quat_k = os.path.join(year_j, k)
            with open(quat_k) as f:
                data = json.load(f)
                try:
                    for L in data['data']['pincodes']:
                        Name = L['entityName'] 
                        Counts = L['metric']['count']
                        Amount = L['metric']['amount']
                        top_trans['State'].append(i)
                        top_trans['Year'].append(j)
                        top_trans['Quarter'].append(int(k.strip('.json')))
                        top_trans['Pincode'].append(Name)
                        top_trans['Count'].append(Counts)
                        top_trans['Amount'].append(Counts)
                except:
                    pass
                    
top_trans_dataframe = pd.DataFrame(top_trans)

In [ ]:
top_trans_dataframe.to_csv('top_trans_dataframe.csv',index=False)

In [ ]:
top_trans_dataframe.head()

## top\user

In [ ]:
# 06 

top_user={'State':[],'Year':[],'Quarter':[],'Pincode':[],'Registered_user':[]}

path=r"C:\Users\palla\Downloads\Datasets\pulse-master\pulse-master\data\top\user\country\india\state"

agg_user=os.listdir(path)


for i in agg_user:
    state_i = os.path.join(path, i)
    for j in os.listdir(state_i):
        year_j = os.path.join(state_i, j)
        for k in os.listdir(year_j):
            quat_k = os.path.join(year_j, k)
            with open(quat_k) as f:
                data = json.load(f)
                try:
                    for L in data['data']['pincodes']:
                        pincode = L['name'] 
                        Counts = L['registeredUsers']
                        top_user['State'].append(i)
                        top_user['Year'].append(j)
                        top_user['Quarter'].append(int(k.strip('.json')))
                        top_user['Pincode'].append(pincode)
                        top_user['Registered_user'].append(Counts)
                      
                except:
                    pass
                    
top_user_dataframe = pd.DataFrame(top_user)

In [ ]:
top_user_dataframe.to_csv('top_user_dataframe.csv',index=False)

In [ ]:
top_user_dataframe.head()

In [ ]:
# agg_dataframe.to_csv('agg_dataframe.csv',index=False)
# agg_user_dataframe.to_csv('agg_user_dataframe.csv',index=False)
# map_trans_dataframe.to_csv('map_trans_dataframe.csv',index=False)
# map_user_dataframe.to_csv('map_user_dataframe.csv',index=False)
# top_trans_dataframe.to_csv('top_trans_dataframe.csv',index=False)
# top_user_dataframe.to_csv('top_user_dataframe.csv',index=False)
# --- #
'''
agg_dataframe.csv
agg_user_dataframe.csv
map_trans_dataframe.csv
map_user_dataframe.csv
top_trans_dataframe.csv
top_user_dataframe.csv
'''
# --- #
'''
agg_dataframe
agg_user_dataframe
map_trans_dataframe
map_user_dataframe
top_trans_dataframe
top_user_dataframe
'''
# --- #

# Python & MySQL connectivity

In [ ]:
import mysql.connector as mysql
from mysql.connector import Error
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
from pymysql import connect
import os

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
empdata = pd.read_csv(r"C:\Users\palla\Downloads\Datasets\agg_trans_dataframe.csv", index_col=False, delimiter = ',')

In [ ]:
empdata.head()

In [ ]:
empdata.dtypes

In [ ]:
try:
    conn = mysql.connect(host='127.0.0.1',
                        user = 'root',
                        password = 'Pallavi@1997',
                        auth_plugin='mysql_native_password'
                        )
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("Create Database P_01")
        print("Database is created")
except Error as e:
        print("Error while connecting to Mysql", e)

In [ ]:
try:
    conn = mysql.connect(host='127.0.0.1',
                        user = 'root',
                        password = 'Pallavi@1997',
                        auth_plugin='mysql_native_password',
                        database = 'P_01'
                        )
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('Drop TABLE IF EXISTS empdata;')
        print('Creating table.....')
        
        cursor.execute(''' 
        Create table empdata(
         State VARCHAR(255),
         Year INT,
         Quarter INT,
         Device_Brands VARCHAR(255),
         Counts INT,
         Percentage FLOAT)
        ''')
            
        print("Table is created...")
        
        for i,row in empdata.iterrows():
            
            sql = "Insert into empdata Values(%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql,tuple(row))
            print("Record inserted")
            conn.commit()
except Error as e:
            print("Error while connecting to Mysql", e)

In [ ]:
sql = "Select * from p_01.empdata"
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

In [ ]:
empdata2 = pd.read_csv(r"C:\Users\palla\Downloads\Datasets\agg_user_dataframe.csv", index_col=False, delimiter = ',')
empdata2.head()

In [ ]:
try:
    conn = mysql.connect(host='127.0.0.1',
                        user = 'root',
                        password = 'Pallavi@1997',
                        auth_plugin='mysql_native_password',
                        database = 'P_01'
                        )
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('Drop TABLE IF EXISTS empdata2;')
        print('Creating table.....')
        
        cursor.execute(''' 
        Create table empdata2(
         State VARCHAR(255),
         Year INT,
         Quarter INT,
         Device_Brands VARCHAR(255),
         Counts INT,
         Percentage FLOAT)
        ''')
            
        print("Table is created...")
        
        for i,row in empdata2.iterrows():
            
            sql = "Insert into empdata2 Values(%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql,tuple(row))
            print("Record inserted")
            conn.commit()
except Error as e:
            print("Error while connecting to Mysql", e)

In [ ]:
sql = "Select * from p_01.empdata2"
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

In [ ]:
empdata3 = pd.read_csv(r"C:\Users\palla\Downloads\Datasets\map_trans_dataframe.csv", index_col=False, delimiter = ',')
empdata3.head()

In [ ]:
try:
    conn = mysql.connect(host='127.0.0.1',
                        user = 'root',
                        password = 'Pallavi@1997',
                        auth_plugin='mysql_native_password',
                        database = 'P_01'
                        )
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('Drop TABLE IF EXISTS empdata3;')
        print('Creating table.....')
        
        cursor.execute(''' 
        Create table empdata3(
          State VARCHAR(255),
          Year INT,
          Quarter INT,
          District VARCHAR(255),
          Counts INT,
          Amount FLOAT)
        ''')
            
        print("Table is created...")
        
        for i,row in empdata3.iterrows():
            
            sql = "Insert into empdata3 Values(%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql,tuple(row))
            print("Record inserted")
            conn.commit()
except Error as e:
            print("Error while connecting to Mysql", e)

In [ ]:
sql = "Select * from p_01.empdata3"
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

In [ ]:
empdata4 = pd.read_csv(r"C:\Users\palla\Downloads\Datasets\map_user_dataframe.csv")
empdata4

In [ ]:
try:
    conn = mysql.connect(host='127.0.0.1',
                        user = 'root',
                        password = 'Pallavi@1997',
                        auth_plugin='mysql_native_password',
                        database = 'P_01'
                        )
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('Drop TABLE IF EXISTS empdata4;')
        print('Creating table.....')
        
        cursor.execute(''' 
        Create table empdata4(
          State VARCHAR(255),
          Year INT,
          Quarter INT,
          District VARCHAR(255),
          RegisteredUsers INT)
        ''')
            
        print("Table is created...")
        
        for i,row in empdata4.iterrows():
            
            sql = "Insert into empdata4 Values(%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql,tuple(row))
            print("Record inserted")
            conn.commit()
except Error as e:
            print("Error while connecting to Mysql", e)

In [ ]:
sql = "Select * from p_01.empdata4"
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

In [ ]:
empdata5 = pd.read_csv(r"C:\Users\palla\Downloads\Datasets\top_trans_dataframe.csv", index_col=False, delimiter = ',')
empdata5.head()

In [ ]:
try:
    conn = mysql.connect(host='127.0.0.1',
                        user = 'root',
                        password = 'Pallavi@1997',
                        auth_plugin='mysql_native_password',
                        database = 'P_01'
                        )
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('Drop TABLE IF EXISTS empdata5;')
        print('Creating table.....')
        
        cursor.execute(''' 
        Create table empdata5(
          State VARCHAR(255),
          Year INT,
          Quarter INT,
          Pincode INT,
          Count INT,
          Amount FLOAT)
        ''')
            
        print("Table is created...")
        
        for i,row in empdata5.iterrows():
            
            sql = "Insert into empdata5 Values(%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql,tuple(row))
            print("Record inserted")
            conn.commit()
except Error as e:
            print("Error while connecting to Mysql", e)

In [ ]:
sql = "Select * from p_01.empdata5"
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

In [ ]:
empdata6 = pd.read_csv(r"C:\Users\palla\Downloads\Datasets\top_user_dataframe.csv", index_col=False, delimiter = ',')
empdata6.head()

In [ ]:
try:
    conn = mysql.connect(host='127.0.0.1',
                        user = 'root',
                        password = 'Pallavi@1997',
                        auth_plugin='mysql_native_password',
                        database = 'P_01'
                        )
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('Drop TABLE IF EXISTS empdata5;')
        print('Creating table.....')
        
        cursor.execute(''' 
        Create table empdata6(
          State VARCHAR(255),
          Year INT,
          Quarter INT,
          Pincode INT,
          Registered_user INT)
        ''')
            
        print("Table is created...")
        
        for i,row in empdata6.iterrows():
            
            sql = "Insert into empdata6 Values(%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql,tuple(row))
            print("Record inserted")
            conn.commit()
except Error as e:
            print("Error while connecting to Mysql", e)

In [ ]:
sql = "Select * from p_01.empdata6"
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)